

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background-color: #63AFD0;
}

.container {
	width: 100%;
}

/* Custom container */
.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}

 /* Main marketing message and sign up button */
.jumbotron {
	margin: 40px 0 0;
	color: white;
	text-align: center;
}
.jumbotron h1 {
	font-size: 72px;
	line-height: 1;
}

/* Custome hero-unit */
.hero-sign-in {
	margin: 0 auto 20px auto;
	max-width: 220px;
}

#sign-in {
	margin: auto;
	width: 220px;
}

#sign-in input[type="text"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

#drawki {
	width: 1000px;
	margin: auto;
	display: none;
}

#drawCanvas {
	background-color: #3399cc;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: crosshair;
}

#drawingBoard {
	height: 500px;
}

#connected-users-number {
	color: #ffffff;
	font-weight: bolder;
}

#notifications {
	color: #ffffff;
	font-weight: bolder;
}

#chat {
	position: relative;
	margin-top: 30px;
	height: 500px;
	background-color: #ffffff
}

#chat-messages {
	height: 470px;
	overflow-y: auto;
	padding: 1px 3px 1px 3px;
}

#chat-input {
	width: 100%;
	position: absolute;
	bottom: 0;
}

#chat-input input {
	margin-bottom: 0px;
}

/* Quick, dirty and temp fix for iPad */
@media (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
.jumbotron {
	margin: 5px 0 0;
}